In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Lasso
from sklearn import metrics

In [4]:
car_data=pd.read_csv("car data.csv")

In [5]:
car_data.head(10)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0
7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0
9,ciaz,2015,7.45,8.92,42367,Diesel,Dealer,Manual,0

In [6]:
car_data.replace({"Fuel_Type":{'Petrol':0,'Diesel':1,'CNG':2},
                  "Seller_Type":{'Dealer':0,'Individual':1},
                  "Transmission":{'Manual':0,'Automatic':1}},inplace=True)

In [7]:
car_data.head(10)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,0,0,0,0
1,sx4,2013,4.75,9.54,43000,1,0,0,0
2,ciaz,2017,7.25,9.85,6900,0,0,0,0
3,wagon r,2011,2.85,4.15,5200,0,0,0,0
4,swift,2014,4.60,6.87,42450,1,0,0,0
5,vitara brezza,2018,9.25,9.83,2071,1,0,0,0
6,ciaz,2015,6.75,8.12,18796,0,0,0,0
7,s cross,2015,6.50,8.61,33429,1,0,0,0
8,ciaz,2016,8.75,8.89,20273,1,0,0,0
9,ciaz,2015,7.45,8.92,42367,1,0,0,0

In [8]:
# split into data and target
# Removing brand name and selling prise, as selling price is the target that we find and car name is not necessary
X=car_data.drop(['Car_Name','Selling_Price'],axis=1)
Y=car_data['Selling_Price']

In [9]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.1,random_state=2)

In [10]:
model = RandomForestRegressor(n_estimators=100, random_state=0);
model.fit(X_train, Y_train)
Y_pred = model.predict(X_train)

Y_pred = model.predict(X_test)

In [14]:
from joblib import dump
dump(model,'./../savedmodels/model.joblib')

['./../savedmodels/model.joblib']

In [22]:

# # testing

# # ans=model.predict([2014,5.59,27000,0,0,0,0])
# # print(ans)

# import numpy as np

# # Assuming your features are in the order: ['Year', 'Present_Price', 'Kms_Driven', 'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner']
# input_data = np.array([[2014, 5.59, 27000, 0, 0, 0, 0]])

# # Make predictions
# prediction = model.predict(input_data)

# print(f'Predicted Selling Price: {prediction[0]}')
# Assuming your features are in the order: ['Year', 'Present_Price', 'Kms_Driven', 'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner']
feature_names = ['Year', 'Present_Price', 'Kms_Driven', 'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner']

# Create a DataFrame for the input data with feature names
input_data_df = pd.DataFrame([[2017,9.85,6900,0,0,0,0]], columns=feature_names)

# Make predictions
prediction = model.predict(input_data_df)

print(f'Predicted Selling Price: {prediction[0]}')


new_data_point10 = [2014,5.59,27000,0,0,0,0]
predicted_value10 =  model.predict([new_data_point10])
print("Predicted Value for ritz", predicted_value10)
new_data_point20 = [2011,4.15,5200,0,0,0,0]
predicted_value20 =  model.predict([new_data_point20])
print("Predicted Value for wagon r ", predicted_value20)
new_data_point30 = [2017,9.85,6900,0,0,0,0]
predicted_value30 =  model.predict([new_data_point30])
print("Predicted Value for ciaz", predicted_value30)


random_data_point = [2011, 20.00, 12000, 1, 0, 1, 0]
predicted_value =  model.predict([random_data_point])
print("Predicted Value:", predicted_value)

Predicted Selling Price: 7.7093
Predicted Value for ritz [3.7055]
Predicted Value for wagon r  [2.4745]
Predicted Value for ciaz [7.7093]
Predicted Value: [8.6058]

C:\Users\01\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
C:\Users\01\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
C:\Users\01\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
C:\Users\01\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(